@model IEnumerable<ProyectoEldoria.Models.Aventurero>

@{
    ViewData["Title"] = "Lista de aventureros magicos";
}

<h1 class="text-center">El Archivo de Aventureros de Eldoria</h1>
<div class="row">
    <div class="offset-9 col-3 mb-3">
        <a asp-action="Crear" asp-controller="Inicio" class="btn btn-secondary d-block mx-auto btn-lg">
            <i class="bi bi-file-plus-fill"></i> Nuevo Aventurero</a>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-4">
        <input type="text" id="txtClase" class="form-control" placeholder="Buscar por clase">
    </div>
    <div class="col-md-4">
        <input type="text" id="txtRaza" class="form-control" placeholder="Buscar por raza">
    </div>
    <div class="col-md-4">
        <input type="text" id="txtElemento" class="form-control" placeholder="Buscar por elemento">
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-12 text-right">
        <button id="btnBuscar" class="btn btn-primary">Buscar</button>
    </div>
</div>

<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white"><strong>Lista de aventureros</strong></h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    @if (Model.Count() > 0)
                    {
                        <table class="table table-bordered" id="tblAventureros" width="100%" cellspaciong="0">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(m => m.Nombre) </th>
                                    <th>@Html.DisplayNameFor(m => m.Apellido) </th>
                                    <th>@Html.DisplayNameFor(m => m.Retrato) </th>
                                    <th>@Html.DisplayNameFor(m => m.Origen) </th>
                                    <th>@Html.DisplayNameFor(m => m.FechaNacimiento) </th>
                                    <th>@Html.DisplayNameFor(m => m.Correo) </th>
                                    <th>@Html.DisplayNameFor(m => m.Clase) </th>
                                    <th>@Html.DisplayNameFor(m => m.Raza) </th>
                                    <th>@Html.DisplayNameFor(m => m.Elemento) </th>
                                    <th>@Html.DisplayNameFor(m => m.Companiero) </th>
                                    <th>@Html.DisplayNameFor(m => m.Habilidades) </th>
                                    <th>@Html.DisplayNameFor(m => m.Mentor) </th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(m => item.Nombre) </td>
                                        <td>@Html.DisplayFor(m => item.Apellido) </td>
                                        <td>@Html.DisplayFor(m => item.Retrato) </td>
                                        <td>@Html.DisplayFor(m => item.Origen) </td>
                                        <td>@Html.DisplayFor(m => item.FechaNacimiento) </td>
                                        <td>@Html.DisplayFor(m => item.Correo) </td>
                                        <td>@Html.DisplayFor(m => item.Clase) </td>
                                        <td>@Html.DisplayFor(m => item.Raza) </td>
                                        <td>@Html.DisplayFor(m => item.Elemento) </td>
                                        <td>@Html.DisplayFor(m => item.Companiero) </td>
                                        <td>
                                            @foreach (var habilidad in item.Habilidades)
                                            {
                                                <span>@habilidad</span>

                                                <br />
                                            }
                                        </td>
                                        <td>@Html.DisplayFor(m => item.Mentor) </td>
                                        <td>
                                            <a class="btn btn-warning" asp-action="Editar" asp-route-codigo="@item.Codigo"><i class="bi bi-pencil-fill"></i>Editar</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>¡No hay aventureros!</p>
                    }
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var table = $('#tblAventureros').DataTable({
                language: {
                    "decimal":"",
                    "emptyTable":"No hay informacion",
                    "info":"Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 entradas",
                    "infoFiltered":"(Fiiltrado de _MAX_ total Entradas)",
                    "infoPostFix":"",
                    "thousands":",",
                    "lengthMenu":"Mostrar _MENU_ Entradas",
                    "loadingRecords":"Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "No se encontraron resultados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });

            $('#btnBuscar').on('click', function () {
                var clase = $('#txtClase').val();
                var raza = $('#txtRaza').val();
                var elemento = $('#txtElemento').val();

                table
                    .column(6).search(clase)
                    .column(7).search(raza)
                    .column(8).search(elemento)
                    .draw();
            });
        });
    </script>
}