@model IEnumerable<ProyectoEldoria.Models.Aventurero>

@{
    ViewData["Title"] = "Lista de aventureros magicos";
}

<h1 class="text-center">El Archivo de Aventureros de Eldoria</h1>
<div class="row">
    <div class="offset-9 col-3 mb-3">
        <a asp-action="Crear" asp-controller="Inicio" class="btn btn-secondary d-block mx-auto btn-lg">Nuevo Aventurero</a>
    </div>
</div>

<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white"><strong>Lista de aventureros</strong></h3>
            </div>
            <div class="card-body">
                <!--aca va el jquery tables-->
                @if (Model.Count() > 0)
                {
                    <table class="table table-bordered" id="tblAventureros" width="100%" cellspaciong="0">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.Codigo) </th>
                                <th>@Html.DisplayNameFor(m => m.FechaNacimiento) </th>
                                <th>@Html.DisplayNameFor(m => m.Correo) </th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(m => item.Codigo)</td>
                                    <td>@Html.DisplayFor(m => item.FechaNacimiento)</td>
                                    <td>@Html.DisplayFor(m => item.Correo)</td>
                                    <td>
                                        <a class="btn btn-warning" asp-action="Editar" asp-route-id="@item.Codigo">Editar</a>
                                        <a class="btn btn-secondary" asp-action="Detalle" asp-route-id="@item.Codigo">Detalle</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>¡No hay aventureros!</p>
                }
            </div>

        </div>
    </div>
</div>
